h1 {
  font-family: Helvetica;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;

}


body {
  font: 1rem sans-serif;
  position: relative;
}

 p {
  margin: 1.5rem 12rem 1.5rem 12rem;
  /*text-align: center;*/
  line-height: 3.5vh;
}


/* for the title div */

#title {
  display: flex;
}

.title_left {
  flex: 0 0 55%;
  background-color: #333333;
  margin-bottom: .5vh;
}

.title_left h1 {
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 8vw;
}

.title_image {
  flex: 0 0 45%;
}

/* css for the treemap */

div.tooltip {
     position: absolute;
     text-align: center;
     width: 15vw;
     height: 20vh;
     padding: 2px;
     font: 12px sans-serif;
     background: lightGrey;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
 }

.node {
  box-sizing: border-box;
  line-height: 1em;
  overflow: hidden;
  position: absolute;
  white-space: pre;
  margin-top: 6rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
}

.node-label,
.node-value {
  overflow-wrap: normal;
  word-wrap: break-word;
  margin: 4px;
}

.node-value {
  margin-top: 3px;
}

#treemap_1 {
  margin: 1rem 15rem 1rem 12rem;

}

#treemap_2 {
  margin: 1rem 15rem 1rem 12rem;

}

#force_directed{
  margin: 1rem 15rem 1rem 12rem;
}

#treemap_2_graph {
  margin-top: 2rem;
}

.explanation {
  margin-top: 1rem;

}

#explanation_treemap {
  margin: 0rem 0rem 0rem 0rem;
  text-align: left;
  font-size: .8rem;
}

/* css for the barchart */

#barchart {
  margin: 1rem 15rem 1rem 12rem;

}

/*for the tooltip of the barchart */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* campaigns section */

#campaigns_row1 {
  display: flex;
}

#campaigns_row1 h3 {
  text-align: center;
}

#campaign_1 {
  flex: 0 0 35%;
  margin: 1rem  2rem 1rem 10rem;
  height: 50vh;
  border: solid 1px black;
  border-radius: 10%;
}

#campaign_2 {
  flex: 0 0 35%;
  margin: 1rem  2rem 1rem 0rem;
  height: 50vh;
  border: solid 1px black;
  border-radius: 10%;
}

#title_campaign {
  margin-left: 12rem;
}

#campaigns_row2 {
  display: flex;
}

#campaigns_row2 h3 {
  text-align: center;
}

#campaign_3 {
  flex: 0 0 35%;
  margin: 1rem  2rem 1rem 10rem;
  height: 50vh;
  border: solid 1px black;
  border-radius: 10%;
}

#campaign_4 {
  flex: 0 0 35%;
  margin: 1rem  2rem 1rem 0rem;
  height: 50vh;
  border: solid 1px black;
  border-radius: 10%;
}

.para_campaigns {
  margin: 2vh 4vw 2vh 4vw;
}

/* force_directed graph css */


#force_directed {
    margin: 1rem 5rem 1rem 8rem;
}

#force_graph {
    border: solid 1px black;
    border-radius: 5%;
}

.nodes {
    stroke: #000;
    stroke-width: 1px;
}

.link {
    fill: none;
}

textPath {
  opacity: 0;
}

#link_big_graph {
  float: right;
  color: black;
  font-weight: bold
}

#link_big_graph a {
  text-decoration: none;
}
